body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-image: url(./imgs/sfondo.png);
}

.navbar-brand img {
  max-height: 70px;
  /* logo non troppo grande */
}

.navbar-nav .nav-link {
  font-family: 'Orbitron', sans-serif;
  /* mantiene il tuo font */
  color: #222;
  /* tuo colore */
}

.navbar-nav .nav-link:hover {
  color: red;
  /* colore al passaggio del mouse */
}

.navbar-toggler {
  color: #ED1C3E;
}

.card-bg {
  background-image: url('./imgs/tecnico.jpg');
  /* cambia percorso se serve */
  background-size: cover;
  background-position: center;
  min-height: 300px;
  /* altezza minima */
  border-radius: 0.75rem;
  /* stesso radius di Bootstrap (rounded) */
  position: relative;
}

.card-bg .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* overlay scuro */
  border-radius: inherit;
  height: 100%;
}

.card-body {
  gap: 40px;
  border: 3px solid rgb(255, 193, 7);
  border-radius: 0.25rem;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card {
  background-color: rgba(255, 255, 255, 0.8);
  /* bianco semitrasparente al 80% */
  border-radius: 15px;
  /* arrotonda i bordi */
}

@media (min-width: 992px) {

  /* breakpoint desktop Bootstrap */
  .icons img {
    width: 50px;
  }
}